/* ========================================================
  GENERAL STYLING AND VARIABLES
======================================================== */

/* colors */
:root {
  --darkergray: rgb(24, 24, 24);
  --softred: #ff7171;
}

body {
  background: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: lightgray;
  text-decoration: none;
}

a:active {
  color: inherit;
  text-decoration: none;
}

.hidden {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* ========================================================
  HEADER
======================================================== */

.tabs {
  margin-top: 50px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1000;
  border-radius: 5px;
}

.tabs button {
  padding: 15px 40px;
  cursor: pointer;
  color: white;
  margin-right: 5px;
  border-radius: 5px;
}

.tabs button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--darkergray);
}

.tabs button:last-child {
  margin-right: 0;
}

.icon-text-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.icon img {
  width: 160px;
  height: 120px;
  margin-right: 10px;
}

.text {
  display: flex;
  flex-direction: column;
}

.big-text {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 3px;
}

.small-text {
  font-size: 30px;
  color: #999;
}

button {
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  color: black;
  background: transparent;
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.active-element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ========================================================
  FORM INPUT
======================================================== */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40vw;
  height: 4vh;
}

.form {
  border: 1px solid white;
  background-color: black;
  font-size: 1vw;
  color: white;
  resize: none;
  width: 30vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-left: 5vw;
}

.summarize-button {
  margin-left: 5%;
  cursor: pointer;
  border: 2px solid white;
  background-color: var(--darkergray);
  color: white;
  font-size: 1.5vh;
  font-weight: bold;
  border-radius: 1px;
  width: 5vw;
  height: 100%;
  box-sizing: border-box;
}

.description {
  margin-bottom: 10px;
}

/* The popup (background) */
.popup {
  display: block;
  position: relative;
  width: 75vw;
  height: 60vh;
  background-color: rgb(0, 0, 0);
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 20px 20px rgba(255, 0, 0, 0.1);
  flex-direction: column;
  justify-content: space-between;
}

.video-score {
  position: absolute;
  top: -30px;
  left: -30px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  width: 80px;
  height: 80px;
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: greenyellow;
  text-shadow:
    -0.1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; /* Black outline */
}

/* popup Content */
.popup-content {
  background-color: #323232;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: black;
}

#spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8); /* semi-transparent white */
  backdrop-filter: blur(5px); /* blur effect for the background */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#status-text {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

/* Close Button */
.close-button {
  position: absolute;
  right: 0%;
  top: 0%;
  font-size: 24px;
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.close-button:hover {
  color: #ff7171;
}

.chat-container {
  margin: 20px auto;
  border: 3px solid rgb(24, 24, 24);
  height: 80%;
  padding: 10px;
  border-radius: 5px;
  background-color: #242424;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.typing-indicator {
  display: none;
  width: 30px;
  height: 10px;
  text-align: center;
}

.typing-indicator span {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 2px;
  animation: bounce 1s infinite alternate;
}

.typing-indicator span:nth-child(1) {
  left: 0;
  animation-delay: 0s;
}

.typing-indicator span:nth-child(2) {
  left: 50%;
  transform: translateX(-50%);
  animation-delay: 0.25s;
}

.typing-indicator span:nth-child(3) {
  right: 0;
  animation-delay: 0.5s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.message {
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
  max-width: 70%;
  word-wrap: break-word;
  display: flex;
  align-items: center;
}

.message-logo {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  align-self: center;
}

.message-container {
  display: flex;
  align-items: center;
}

.user-message-container {
  justify-content: flex-end;
}

.gpt-message-container {
  justify-content: flex-start;
}

.message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  max-width: 70%;
}

.prompt-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 32vh;
}

.prompt {
  flex-basis: 32%;
  padding: 10px 10px;
  margin: 5px 0;
  border: 1px dashed rgb(255, 255, 255);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  margin-bottom: 20vh;
}

.gpt-message {
  background-color: #e0e0e0;
  font-size: medium;
  color: black;
}

.user-message {
  background-color: #3498db;
  font-size: large;
  color: white;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input-container textarea {
  width: 100%;
  font-size: medium;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: white;
  margin-right: 5%;
  resize: none;
  background: black;
}

.input-container button {
  background-color: var(--softred);
  width: 20%;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: rgb(255, 255, 255);
  color: var(--softred);
}

.input-container textarea::placeholder {
  vertical-align: middle;
  font-size: 16px;
}

/* ========================================================
  INSTALL PAGE
======================================================== */

.install-block {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
}

.install-left,
.install-right {
  display: flex;
  justify-content: center;
  vertical-align: top;
  flex-direction: column;
  width: 48%;
  padding: 5%;
}

.install-button {
  display: inline-block;
  background-color: var(--softred);
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.extension-image {
  width: 40vw;
  border-radius: 15px;
}

<<<<<<< HEAD
.instruct-block {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
}


=======
>>>>>>> db362536d484ead6306fa99b9036675e7ceb96a9
/* ========================================================
  FOOTER
======================================================== */

.ghub-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 12px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

.ghub-button:hover {
  background-color: #777;
}

.ghub-img {
  width: 40px;
  height: 40px;
}
